.movieRow {
  margin: 15px 0;
}

.movieRow h2 {
  margin-left: 30px;
}

.movieRow--listarea {
  overflow: hidden;
  padding: 0 30px;
}

.movieRow--list {
  display: flex;
  flex-wrap: nowrap;

  transition: all ease 0.5s;
}

.movieRow--item {
  width: 150px;
  cursor: pointer;
}

.movieRow--item img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.3s;
}

.movieRow--item img:hover {
  transform: scale(1);
}

.movieRow--left,
.movieRow--rigth {
  position: absolute;
  width: 40px;
  height: 225px;

  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  opacity: 0;

  transition: all ease 0.3s;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--rigth {
  opacity: 1;
}

.movieRow--left {
  left: 0;
}

.movieRow--rigth {
  right: 0;
}

@media (max-width: 760px) {
  .movieRow--left,
  .movieRow--rigth {
    opacity: 1;
  }
}
